#!/usr/bin/env python
PACKAGE = "chicago"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

method_enum = gen.enum([ gen.const("Euler",      int_t, 0, "euler"),
                       gen.const("RungeKutta",     int_t, 1, "rk")],
                     "An enum to set integration method")
gen.add("method", int_t, 0, "A method parameter which is edited via an enum", 0, 0, 1, edit_method=method_enum)

exit(gen.generate(PACKAGE, "odometry", "parameters"))
