<!-- Launch file with all is needed for localization -->
<launch>

  <!-- ***** TF laser baselink ***** -->
  <node pkg="tf" type="static_transform_publisher" name="tf" args="0 0 0 0 0 0.7372773 0.6755902 scout/base_link laser 100"/> 

  <!-- ***** use sim time ***** --> 
  <param name="/use_sim_time" value="true" />

  <!-- ***** EKF ***** -->
  <include file="$(find boston)/launch/ekf.launch"/>

  <!-- ***** amcl ***** -->
  <include file="$(find boston)/launch/amcl.launch"/>

  <!-- ***** Visualisation ***** -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find boston)/rviz/localization.rviz"/>

</launch>
